
<section style="margin-top:25px;" id="works" class="works clearfix">
    <div class="container">
        <div class="row">

            <div class="sec-title text-center">
                <h2 style="text-transform:capitalize;"> Добавить Доходов</h2>
                <div class="devider"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
            </div>

            <form action="">
                <div class="forma">
                    <label>Сумма</label>
                    <input class="form-control form-control-lg" type="text" placeholder="Укажите сумму" aria-label=".form-control-lg example">


                    <label for="localdate">Дата и время: </label> <br>
                    <input style="font-size: 15px;" type="datetime-local" id="localdate" name="date" /> <br>

                    <label>Категории</label>
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Основные категории</option>
                        <option value="1">Заработная плата</option>
                        <option value="2">Пенсия</option>
                        <option value="3">Доход от аренды имущества</option>
                        <option value="4">Прочие доходы</option>

                    </select>
                    <div class="mb-3">
                        <label for="exampleFormControlTextarea1" class="form-label">Комментарии</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="button" class="btn btn-primary">Сохранить</button>
                    <button type="reset" class="btn btn-light">Отменить</button>
                </div>
            </form>
        </div>
    </div>
</section>



