@using HomeBudgetDemo
@using HomeBudgetDemo.Models;
@using HomeBudgetDemo.Data
@{
    Layout = "_Layout";

}
@model CostOrIncome

<section style="margin-top:25px;" id="works" class="works clearfix">
    <div class="container">
        <div class="row">

            <div class="sec-title text-center">
                <h2 style="text-transform:capitalize;"> Добавить Доходов</h2>
                <div class="devider"><i class="fa fa-credit-card" aria-hidden="true"></i></div>
            </div>

            <form asp-controller="home" asp-action="addincome" method="post">
                <div class="forma">
                    <label asp-for="Sum">Сумма</label>
                    <input asp-for="Sum" class="form-control form-control-lg" type="text" placeholder="Укажите сумму" aria-label=".form-control-lg example">


                    <label asp-for="Date" for="localdate">Дата и время: </label> <br>
                    <input asp-for="Date" style="font-size: 15px;" type="datetime-local" id="localdate" name="date" /> <br>

                    <label asp-for="CategoryId">Категории</label>
                    <select asp-for="CategoryId" class="form-select" aria-label="Default select example">
                        <option selected>Основные категории</option>
                        <option value="1">Заработная плата</option>
                        <option value="2">Пенсия</option>
                        <option value="3">Доход от аренды имущества</option>
                        <option value="4">Прочие доходы</option>

                    </select>
                    <div class="mb-3">
                        <label asp-for="Comment" for="exampleFormControlTextarea1" class="form-label">Комментарии</label>
                        <textarea asp-for="Comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                    <button type="submit" asp-controller="home" asp-action="addincome" class="btn btn-primary">Сохранить</button>
                    <button type="reset" asp-controller="home" asp-action="viewincome" class="btn btn-light">Отменить</button>
                </div>
            </form>
        </div>
    </div>
</section>



